*{
margin: 0;
padding: 0;
}
body{
    background-color: #1a1a1a;
    font-family: 'Montserrat', sans-serif;
    color: #ffff;
}
header{
    background-color: #1a1a1a;
    box-shadow:    0px 0px 10px 0px gray;
    padding: 20px 0px 20px 0px;

}
.logoimg{
    width: 65%;
}
.navbar-light .navbar-nav .nav-link{
    color: #Fff;
    font-size: 0.8em;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.3s;
}
.navbar-light .navbar-nav .nav-link:hover
{
    color: #fff;
    transform: scale(1.2);
}
/* effectivedata start */
.cmnbg{
    background-color: #11356b;
}
.effective-data{
    margin: 60px 0px;
    padding: 50px 0px;
}
.effec-dataimg1{
    width:15%;
}
.effec-dataimg2{
    width: 35%;
}
.effective-data h2{
    font-family: "Open Sans", Sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 43px;
    padding: 0px 60px 0px;
    margin-bottom: 30px;
}
.effective-data a, .sinko-connector a{
    background-color: #165EC9;
    border-radius: 0px 0px 0px 0px;
    padding: 15px 40px 15px 40px;
    color: #fff;
    text-decoration: none;
}
/* our technology strat */
.our-technology{
padding: 40px 0px;
}
.our-technology h2{
    color: #61CE70;
    font-family: "Open Sans", Sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 4.3px;
}
.our-technology p{
    font-size: 25px;
    line-height: 35px;
    padding: 0px 65px;
}

/* sinko start */
.sinko{
    margin-top:50px;
}
.sinko-connector{
    padding: 70px 0px 80px;
}
.sinko-connector img{
    width: 35%;
}
.sinko-connector h2{
    color: #61CE70;
    font-family: "Poppins", Sans-serif;
    font-size: 23px;
    font-weight: 500;
    padding: 20px 0px 6px;
}
.sinko-connector p,.cablingp p{
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.25em;
    margin-bottom: 30px;
}
/* capling start */
.capling-content{

}
.cablingimg img{
    margin-top: -40px;
}
.cablingp p{
    font-size: 23px;
    padding-top: 30px;
    padding-left: 40px;
}
.corning img{
    margin-top: 50px;
    margin-left: -48px;
}

/* complete solutin start */
.blacktexturebg{
    background-image: url('../images/blacktexture-crop-u68393.jpg');
    min-height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    
    position: relative;
}
.blacktexturebg-overlay{
    /* background-color: #100d0dd9; */
    background-color: #211f1fd9;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 50px 120px;
}
.fiber-solution img{
transition: .3s;
}
.fiber-solution img:hover{
    transform:translateY(-10px);
}
.fiber-solution H5{
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    bottom: 31px;
    position: relative;
}
.fibersolutin-title {
    padding-top: 27px;
    padding-bottom: 40px;
}
.fibersolution-para p{

    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
}
.fibersolution-product img{
    width: 10%;
    margin-top: 50px;
}
/* blog start */
.blog{
    /* margin-bottom: 50px; */
}
.blogimg img{
    width: 8%;
    text-align: center;
}
.blogcard{
    border:2px solid #22ba02;
    margin: 50px 0px;
 
}
.blogcard img{
    min-height: 172px;
    opacity: 0.7;
    transition: 0.3s;
}
.blogcard img:hover{
    opacity: 0.9;
}
.blogcardbody{
    min-height:440px;
}
.blogcardbody{
    padding: 35px 29px;
    background-color: #000;
}
.blogcardbody  a{
    font-family: "Roboto", Sans-serif;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
    line-height: 15px;
}
.blogcardbody h6{
    margin: 0;
    line-height: 1.5em;
    font-size: 13px;
    color: #716666;
    padding-top: 10px;
    padding-bottom: 20px;
}
.blogreadmore a{
    color: #22ba02;
    font-size: 12px;
}
footer{
    background-color: #000;
    min-height: 200px;
    position: relative;
}
.footeroverlay{
    background-image: url('../images/F-logo-white-lines.svg');
    top: 10;
    /* width: 100%;
    height: 100%; */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    /* opacity: 0.15; */
    /* transition: background 0.3s, border-radius 0.3s, opacity 0.3s */
    /* padding: 50px 120px; */
}